<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resource Timeline</title>
    <script src="https://unpkg.com/timelines-chart"></script>
    <script src="https://d3js.org/d3-array.v1.min.js"></script>
    <script src="https://d3js.org/d3-collection.v1.min.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-format.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-time.v1.min.js"></script>
    <script src="https://d3js.org/d3-time-format.v2.min.js"></script>
    <script src="https://d3js.org/d3-scale.v2.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/styles/github.min.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/diff2html/bundles/css/diff2html.min.css"
    />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/diff2html/bundles/js/diff2html-ui.min.js"></script>
</head>
<body>

<div id="search" class="form-control-lg">
    <form>
        <input class="form-control" type="text" id="filterInput" placeholder="RegExp Filter">
    </form>
</div>

<div id="chart"></div>

<div class="modal" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Resource</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <pre><code id="myModalContent"></code></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    const myChart = TimelinesChart();
    var eventIntervals = [];

    // Fetch events from server
    const evtSource = new EventSource("/events");

    var firstTimeHuh = true;
    evtSource.onmessage = function(e) {
        eventIntervals.push(JSON.parse(e.data));
        console.log(JSON.parse(e.data));
        if (firstTimeHuh) {
            firstTimeHuh = false;
            renderChart(null);
        } else {
            myChart.data(buildTimelineGroups(null)).refresh();
        }
        
    };

    // Re-render the chart with input as a regexp. Timeout for event debouncing.
    $('#filterInput').on('input', (e) => {
        var $this = $(this);
        clearTimeout($this.data('timeout'));
        $this.data('timeout', setTimeout(() => {
            document.getElementById("chart").innerHTML = "";
            renderChart(new RegExp(e.target.value))
        }, 250));
    });

    // Prevent page refresh from pressing enter in input box
    $('#filterInput').keypress((e) => {
        if (event.which == '13') {
            event.preventDefault();
        }
    });

    function getDurationString(durationSeconds) {
        const seconds = durationSeconds % 60;
        const minutes = Math.floor(durationSeconds/60);
        var durationString = "[";
        if (minutes !== 0) {
            durationString += minutes + "m"
        }
        durationString += seconds + "s]";
        return durationString;
    }

    function defaultToolTip(item) {
        if (!item.change || !item.change.diff) {
            return '';
        }
        return item.change.diff
    }

    function buildLocatorDisplayString(i) {
        let keys = Object.keys(i.keys);
        keys = sortKeys(keys);

        let annotations = [];
        for (let k of keys) {
            annotations.push(`${k}/${i.keys[k]}`);
        }

        return annotations.join(' ');
    }

    function sortKeys(keys) {
        // Ensure these keys appear in this order. Other keys can be mixed in and will appear at the end in alphabetical order.
        const orderedKeys = ["namespace", "name", "uid"];

        // Create a map to store the indices of keys in the orderedKeys array.
        // This will allow us to efficiently check if a key is in orderedKeys and find its position.
        const orderedKeyIndices = {};
        orderedKeys.forEach((key, index) => {
            orderedKeyIndices[key] = index;
        });

        // Define a custom sorting function that orders the keys based on the orderedKeys array.
        keys.sort((a, b) => {
            // Get the indices of keys a and b in orderedKeys.
            const indexA = orderedKeyIndices[a];
            const indexB = orderedKeyIndices[b];

            // If both keys exist in orderedKeys, sort them based on their order.
            if (indexA !== undefined && indexB !== undefined) {
                return indexA - indexB;
            }

            // If only one of the keys exists in orderedKeys, move it to the front.
            if (indexA !== undefined) {
                return -1;
            } else if (indexB !== undefined) {
                return 1;
            }

            // If neither key is in orderedKeys, sort alphabetically so we have predictable ordering.
            return a.localeCompare(b);
        });

        return keys;
    }

    function segmentTooltipFunc(d) {
        return '<span style="max-inline-size: min-content; display: inline-block;">'
        + '<strong>' + d.label + '</strong><br/>'
        + '<strong>From: </strong>' + new Date(d.timeRange[0]).toUTCString() + '<br>'
        + '<strong>To: </strong>' + new Date(d.timeRange[1]).toUTCString() + '</span>';
    }

    function createTimelineData(timelineVal, timelineData, rawEventIntervals, preconditionFunc, regex) {
        const data = {}
        var now = new Date();
        var earliest = rawEventIntervals.reduce(
            (accumulator, currentValue) => !currentValue.from || accumulator < new Date(currentValue.from) ? accumulator : new Date(currentValue.from),
            new Date(now.getTime() + 1),
        );
        var latest = rawEventIntervals.reduce(
            (accumulator, currentValue) => !currentValue.to || accumulator > new Date(currentValue.to) ? accumulator : new Date(currentValue.to),
            new Date(now.getTime() - 1),
        );
        rawEventIntervals.forEach((item) => {
            if (!preconditionFunc(item)) {
                return
            }
            var startDate = new Date(item.from)
            if (!item.from) {
                startDate = earliest;
            }
            var endDate = new Date(item.to)
            if (!item.to) {
                endDate = latest
            }
            let label = buildLocatorDisplayString(item.locator)
            let sub = ""
            let val = timelineVal
            if (typeof val === "function") {
                [label, sub, val] = timelineVal(item)
            }
            let section = data[label]
            if (!section) {
                section = {};
                data[label] = section
            }
            let ranges = section[sub]
            if (!ranges) {
                ranges = [];
                section[sub] = ranges
            }
            ranges.push({
                timeRange: [startDate, endDate],
                label: label,
                val: val,
                labelVal: defaultToolTip(item)
            });
        });
        for (const label in data) {
            const section = data[label]
            for (const sub in section) {
                if (regex == null || (regex != null && regex.test(label))) {
                    const data = section[sub];
                    const totalDurationSeconds = data.reduce(
                        (prev, curr) => prev + (curr.timeRange[1].getTime() - curr.timeRange[0].getTime())/1000,
                        0);

                    timelineData.push({label: label + sub, data: data})
                }
            }
        }
    }

    function podMetadataChange(eventInterval) {
        return eventInterval.locator.type === "Pod" && eventInterval.change.type == "Metadata";
    }

    function podSpecChange(eventInterval) {
        return eventInterval.locator.type === "Pod" && eventInterval.change.type == "Spec";
    }

    function podStatusChange(eventInterval) {
        return eventInterval.locator.type === "Pod" && eventInterval.change.type == "Status";
    }

    function secretMetadataChange(eventInterval) {
        return eventInterval.locator.type === "Secret" && eventInterval.change.type == "Metadata";
    }
    function secretSpecChange(eventInterval) {
        return eventInterval.locator.type === "Secret" && eventInterval.change.type == "Spec";
    }

    function configMapMetadataChange(eventInterval) {
        return eventInterval.locator.type === "ConfigMap" && eventInterval.change.type == "Metadata";
    }

    function configMapSpecChange(eventInterval) {
        return eventInterval.locator.type === "ConfigMap" && eventInterval.change.type == "Spec";
    }

    function nodeMetadataChange(eventInterval) {
        return eventInterval.locator.type === "Node" && eventInterval.change.type == "Metadata";
    }

    function nodeSpecChange(eventInterval) {
        return eventInterval.locator.type === "Node" && eventInterval.change.type == "Spec";
    }

    function nodeStatusChange(eventInterval) {
        return eventInterval.locator.type === "Node" && eventInterval.change.type == "Status";
    }

    function buildTimelineGroups(regex) {
        var timelineGroups = []
        timelineGroups.push({group: "pod", data: []})
        createTimelineData("Metadata", timelineGroups[timelineGroups.length - 1].data, eventIntervals, podMetadataChange, regex)
        createTimelineData("Spec", timelineGroups[timelineGroups.length - 1].data, eventIntervals, podSpecChange, regex)
        createTimelineData("Status", timelineGroups[timelineGroups.length - 1].data, eventIntervals, podStatusChange, regex)

        timelineGroups.push({group: "secret", data: []})
        createTimelineData("Metadata", timelineGroups[timelineGroups.length - 1].data, eventIntervals, secretMetadataChange, regex)
        createTimelineData("Spec", timelineGroups[timelineGroups.length - 1].data, eventIntervals, secretSpecChange, regex)

        timelineGroups.push({group: "configmap", data: []})
        createTimelineData("Metadata", timelineGroups[timelineGroups.length - 1].data, eventIntervals, configMapMetadataChange, regex)
        createTimelineData("Spec", timelineGroups[timelineGroups.length - 1].data, eventIntervals, configMapSpecChange, regex)

        timelineGroups.push({group: "node", data: []})
        createTimelineData("Metadata", timelineGroups[timelineGroups.length - 1].data, eventIntervals, nodeMetadataChange, regex)
        createTimelineData("Spec", timelineGroups[timelineGroups.length - 1].data, eventIntervals, nodeSpecChange, regex)
        createTimelineData("Status", timelineGroups[timelineGroups.length - 1].data, eventIntervals, nodeStatusChange, regex)
        return timelineGroups
    }

    function renderChart(regex) {
        var loc = window.location.href;

        var segmentFunc = function (segment) {
            var targetElement = document.getElementById('diff');
            var configuration = {
                drawFileList: false,
                matching: 'lines',
                outputFormat: 'unified',
            };
            var diffString = "--- " + segment.label + "\n" + "+++ " + segment.label + "\n" + segment.labelVal;
            var diff2htmlUi = new Diff2HtmlUI(targetElement, diffString, configuration);
            diff2htmlUi.draw();
            diff2htmlUi.highlightCode();
        }

        const el = document.querySelector('#chart');
        myChart.
        data(buildTimelineGroups()).
        useUtc(true).
        zQualitative(true).
        enableAnimations(false).
        leftMargin(240).
        rightMargin(1550).
        maxLineHeight(20).
        maxHeight(10000).
        zoomX([new Date(eventIntervals[0].from), new Date(eventIntervals[eventIntervals.length - 1].to)]).
        onSegmentClick(segmentFunc).
        segmentTooltipContent(segmentTooltipFunc)
        (el);

        // force a minimum width for smaller devices (which otherwise get an unusable display)
        setTimeout(() => { if (myChart.width() < 3100) { myChart.width(3100) }}, 1)
    }

    // renderChart(null)
</script>
<div id="diff"></div>
</body>
</html>
